{"openapi":"3.0.2","info":{"title":"Pocket Network","description":"\nThis is the API definition Pocket Network core RPC calls. Pocket is a distributed network that relays data requests and responses to and from any blockchain system. Pocket verifies all relayed data and proportionally rewards the participating nodes with native cryptographic tokens.\n\n","termsOfService":"https://pokt.network/terms/","contact":{"name":"Pocket Network","url":"https://pocket.network","email":"hola@pokt.network"},"license":{"name":"MIT Licnese","url":"https://github.com/pokt-network/pocket-core/LICENSE.md"},"version":"RC-0.9.0"},"servers":[{"url":"https://mainnet.gateway.pokt.network/v1/lb/{PortalID}","description":"Pocket Portal","variables":{"PortalID":{"default":"REQUIRED","description":"Found after registering an app with the Pocket Portal."}}}],"paths":{"/v1/query/account":{"post":{"tags":["account"],"summary":"Account","operationId":"account_v1_query_account_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAddressHeight"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseAccountVal"}}}}}}},"/v1/query/accounts":{"post":{"tags":["account"],"summary":"Accounts","operationId":"accounts_v1_query_accounts_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryPaginatedHeightParams"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAccountsResponse"}}}}}}},"/v1/query/balance":{"post":{"tags":["account"],"summary":"Balance","operationId":"balance_v1_query_balance_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAddressHeight"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryBalanceResponse"}}}}}}},"/v1/query/accounttxs":{"post":{"tags":["account"],"summary":"Account Txs","operationId":"account_txs_v1_query_accounttxs_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAccountTXs"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAccountTXsResponse"}}}}}}},"/v1/query/block":{"post":{"tags":["block"],"summary":"Block","operationId":"block_v1_query_block_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryBlock"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryBlockResponse"}}}}}}},"/v1/query/blocktxs":{"post":{"tags":["block"],"summary":"Block Txs","operationId":"block_txs_v1_query_blocktxs_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryBlockTXs"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryBlockTXsResponse"}}}}}}},"/v1/query/height":{"post":{"tags":["network"],"summary":"Height","operationId":"height_v1_query_height_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryHeightResponse"}}}}}}},"/v1/query/state":{"post":{"tags":["network"],"summary":"State","operationId":"state_v1_query_state_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryHeight"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StateResponse"}}}}}}},"/v1/query/supply":{"post":{"tags":["network"],"summary":"Supply","operationId":"supply_v1_query_supply_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryHeight"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuerySupplyResponse"}}}}}}},"/v1/query/supportedchains":{"post":{"tags":["network"],"summary":"Supported Chains","operationId":"supported_chains_v1_query_supportedchains_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryHeight"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuerySupportedChainsResponse"}}}}}}},"/v1/query/upgrade":{"post":{"tags":["network"],"summary":"Upgrade","operationId":"upgrade_v1_query_upgrade_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryHeight"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Upgrade"}}}}}}},"/v1/query/param":{"post":{"tags":["network"],"summary":"Param","operationId":"param_v1_query_param_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryHeightAndKey"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Param V1 Query Param Post","anyOf":[{"$ref":"#/components/schemas/IntParam"},{"$ref":"#/components/schemas/StrParam"},{"$ref":"#/components/schemas/FloatParam"},{"$ref":"#/components/schemas/BoolParam"},{"$ref":"#/components/schemas/SupportedBlockchainsParam"},{"$ref":"#/components/schemas/FeeMultiplierParam"},{"$ref":"#/components/schemas/ACLParam"},{"$ref":"#/components/schemas/UpgradeParam"}]}}}}}}},"/v1/query/allParams":{"post":{"tags":["network"],"summary":"All Params","operationId":"all_params_v1_query_allParams_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryHeight"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllParams"}}}}}}},"/v1/query/app":{"post":{"tags":["service"],"summary":"Single App","operationId":"single_app_v1_query_app_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAddressHeight"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}}}}},"/v1/query/apps":{"post":{"tags":["service"],"summary":"Apps","operationId":"apps_v1_query_apps_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryHeightAndApplicationsOpts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAppsResponse"}}}}}}},"/v1/query/node":{"post":{"tags":["service"],"summary":"Node","operationId":"node_v1_query_node_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAddressHeight"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Node"}}}}}}},"/v1/query/nodes":{"post":{"tags":["service"],"summary":"Nodes","operationId":"nodes_v1_query_nodes_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryHeightAndValidatorsOpts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryNodesResponse"}}}}}}},"/v1/query/signinginfo":{"post":{"tags":["service"],"summary":"Signing Info","operationId":"signing_info_v1_query_signinginfo_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryPaginatedHeightAndAddrParams"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuerySigningInfoResponse"}}}}}}},"/v1/query/nodeclaim":{"post":{"tags":["service"],"summary":"Node Claim","operationId":"node_claim_v1_query_nodeclaim_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryNodeReceipt"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryNodeClaimResponse"}}}}}}},"/v1/query/nodeclaims":{"post":{"tags":["service"],"summary":"Node Claims","operationId":"node_claims_v1_query_nodeclaims_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryPaginatedHeightAndAddrParams"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryNodeClaimsResponse"}}}}}}},"/v1/query/tx":{"post":{"tags":["transaction"],"summary":"Tx","operationId":"tx_v1_query_tx_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryTX"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/v1":{"get":{"tags":["network"],"summary":"Version","operationId":"version_v1_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}}},"components":{"schemas":{"AAT":{"title":"AAT","type":"object","properties":{"version":{"title":"Version","type":"string"},"app_pub_key":{"title":"App Pub Key","type":"string","description":"Application hex public key"},"client_pub_key":{"title":"Client Pub Key","type":"string","description":"Application hex public key associated with a client"},"signature":{"title":"Signature","type":"string","description":"Application's signature in hex"}}},"ACLKey":{"title":"ACLKey","required":["acl_key","address"],"type":"object","properties":{"acl_key":{"title":"Acl Key","type":"string"},"address":{"title":"Address","type":"string"}}},"ACLKeysObject":{"title":"ACLKeysObject","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","type":"string"},"value":{"title":"Value","type":"array","items":{"$ref":"#/components/schemas/ACLKey"}}}},"ACLParam":{"title":"ACLParam","required":["param_key","param_value"],"type":"object","properties":{"param_key":{"title":"Param Key","enum":["gov/acl"],"type":"string"},"param_value":{"$ref":"#/components/schemas/ACLKeysObject"}}},"Account":{"title":"Account","oneOf":[{"$ref":"#/components/schemas/BaseAccount"},{"$ref":"#/components/schemas/ModuleAccount"}],"discriminator":{"propertyName":"type","mapping":{"posmint/Account":"#/components/schemas/BaseAccount","posmint/ModuleAccount":"#/components/schemas/ModuleAccount"}}},"AllParams":{"title":"AllParams","required":["app_params","node_params","pocket_params","gov_params","auth_params"],"type":"object","properties":{"app_params":{"title":"App Params","type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/IntParam"},{"$ref":"#/components/schemas/StrParam"},{"$ref":"#/components/schemas/FloatParam"},{"$ref":"#/components/schemas/BoolParam"},{"$ref":"#/components/schemas/SupportedBlockchainsParam"},{"$ref":"#/components/schemas/FeeMultiplierParam"},{"$ref":"#/components/schemas/ACLParam"},{"$ref":"#/components/schemas/UpgradeParam"}],"discriminator":{"propertyName":"param_key","mapping":{"application/AppUnstakingTime":"#/components/schemas/IntParam","application/ApplicationStakeMinimum":"#/components/schemas/IntParam","application/BaseRelaysPerPOKT":"#/components/schemas/IntParam","application/MaxApplications":"#/components/schemas/IntParam","application/MaximumChains":"#/components/schemas/IntParam","application/StabilityAdjustment":"#/components/schemas/IntParam","auth/MaxMemoCharacters":"#/components/schemas/IntParam","auth/TxSigLimit":"#/components/schemas/IntParam","pocketcore/ClaimExpiration":"#/components/schemas/IntParam","pocketcore/ClaimSubmissionWindow":"#/components/schemas/IntParam","pocketcore/MinimumNumberOfProofs":"#/components/schemas/IntParam","pocketcore/ReplayAttackBurnMultiplier":"#/components/schemas/IntParam","pocketcore/SessionNodeCount":"#/components/schemas/IntParam","pos/BlocksPerSession":"#/components/schemas/IntParam","pos/DAOAllocation":"#/components/schemas/IntParam","pos/DowntimeJailDuration":"#/components/schemas/IntParam","pos/MaxEvidenceAge":"#/components/schemas/IntParam","pos/MaxJailedBlocks":"#/components/schemas/IntParam","pos/MaxValidators":"#/components/schemas/IntParam","pos/MaximumChains":"#/components/schemas/IntParam","pos/ProposerPercentage":"#/components/schemas/IntParam","pos/RelaysToTokensMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeFloorMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeWeightCeiling":"#/components/schemas/IntParam","pos/SignedBlocksWindow":"#/components/schemas/IntParam","pos/StakeMinimum":"#/components/schemas/IntParam","pos/UnstakingTime":"#/components/schemas/IntParam","gov/daoOwner":"#/components/schemas/StrParam","pos/StakeDenom":"#/components/schemas/StrParam","pos/MinSignedPerWindow":"#/components/schemas/FloatParam","pos/ServicerStakeFloorMultiplierExponent":"#/components/schemas/FloatParam","pos/ServicerStakeWeightMultiplier":"#/components/schemas/FloatParam","pos/SlashFractionDoubleSign":"#/components/schemas/FloatParam","pos/SlashFractionDowntime":"#/components/schemas/FloatParam","application/ParticipationRateOn":"#/components/schemas/BoolParam","pocketcore/SupportedBlockchains":"#/components/schemas/SupportedBlockchainsParam","auth/FeeMultipliers":"#/components/schemas/FeeMultiplierParam","gov/acl":"#/components/schemas/ACLParam","gov/upgrade":"#/components/schemas/UpgradeParam"}}}},"node_params":{"title":"Node Params","type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/IntParam"},{"$ref":"#/components/schemas/StrParam"},{"$ref":"#/components/schemas/FloatParam"},{"$ref":"#/components/schemas/BoolParam"},{"$ref":"#/components/schemas/SupportedBlockchainsParam"},{"$ref":"#/components/schemas/FeeMultiplierParam"},{"$ref":"#/components/schemas/ACLParam"},{"$ref":"#/components/schemas/UpgradeParam"}],"discriminator":{"propertyName":"param_key","mapping":{"application/AppUnstakingTime":"#/components/schemas/IntParam","application/ApplicationStakeMinimum":"#/components/schemas/IntParam","application/BaseRelaysPerPOKT":"#/components/schemas/IntParam","application/MaxApplications":"#/components/schemas/IntParam","application/MaximumChains":"#/components/schemas/IntParam","application/StabilityAdjustment":"#/components/schemas/IntParam","auth/MaxMemoCharacters":"#/components/schemas/IntParam","auth/TxSigLimit":"#/components/schemas/IntParam","pocketcore/ClaimExpiration":"#/components/schemas/IntParam","pocketcore/ClaimSubmissionWindow":"#/components/schemas/IntParam","pocketcore/MinimumNumberOfProofs":"#/components/schemas/IntParam","pocketcore/ReplayAttackBurnMultiplier":"#/components/schemas/IntParam","pocketcore/SessionNodeCount":"#/components/schemas/IntParam","pos/BlocksPerSession":"#/components/schemas/IntParam","pos/DAOAllocation":"#/components/schemas/IntParam","pos/DowntimeJailDuration":"#/components/schemas/IntParam","pos/MaxEvidenceAge":"#/components/schemas/IntParam","pos/MaxJailedBlocks":"#/components/schemas/IntParam","pos/MaxValidators":"#/components/schemas/IntParam","pos/MaximumChains":"#/components/schemas/IntParam","pos/ProposerPercentage":"#/components/schemas/IntParam","pos/RelaysToTokensMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeFloorMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeWeightCeiling":"#/components/schemas/IntParam","pos/SignedBlocksWindow":"#/components/schemas/IntParam","pos/StakeMinimum":"#/components/schemas/IntParam","pos/UnstakingTime":"#/components/schemas/IntParam","gov/daoOwner":"#/components/schemas/StrParam","pos/StakeDenom":"#/components/schemas/StrParam","pos/MinSignedPerWindow":"#/components/schemas/FloatParam","pos/ServicerStakeFloorMultiplierExponent":"#/components/schemas/FloatParam","pos/ServicerStakeWeightMultiplier":"#/components/schemas/FloatParam","pos/SlashFractionDoubleSign":"#/components/schemas/FloatParam","pos/SlashFractionDowntime":"#/components/schemas/FloatParam","application/ParticipationRateOn":"#/components/schemas/BoolParam","pocketcore/SupportedBlockchains":"#/components/schemas/SupportedBlockchainsParam","auth/FeeMultipliers":"#/components/schemas/FeeMultiplierParam","gov/acl":"#/components/schemas/ACLParam","gov/upgrade":"#/components/schemas/UpgradeParam"}}}},"pocket_params":{"title":"Pocket Params","type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/IntParam"},{"$ref":"#/components/schemas/StrParam"},{"$ref":"#/components/schemas/FloatParam"},{"$ref":"#/components/schemas/BoolParam"},{"$ref":"#/components/schemas/SupportedBlockchainsParam"},{"$ref":"#/components/schemas/FeeMultiplierParam"},{"$ref":"#/components/schemas/ACLParam"},{"$ref":"#/components/schemas/UpgradeParam"}],"discriminator":{"propertyName":"param_key","mapping":{"application/AppUnstakingTime":"#/components/schemas/IntParam","application/ApplicationStakeMinimum":"#/components/schemas/IntParam","application/BaseRelaysPerPOKT":"#/components/schemas/IntParam","application/MaxApplications":"#/components/schemas/IntParam","application/MaximumChains":"#/components/schemas/IntParam","application/StabilityAdjustment":"#/components/schemas/IntParam","auth/MaxMemoCharacters":"#/components/schemas/IntParam","auth/TxSigLimit":"#/components/schemas/IntParam","pocketcore/ClaimExpiration":"#/components/schemas/IntParam","pocketcore/ClaimSubmissionWindow":"#/components/schemas/IntParam","pocketcore/MinimumNumberOfProofs":"#/components/schemas/IntParam","pocketcore/ReplayAttackBurnMultiplier":"#/components/schemas/IntParam","pocketcore/SessionNodeCount":"#/components/schemas/IntParam","pos/BlocksPerSession":"#/components/schemas/IntParam","pos/DAOAllocation":"#/components/schemas/IntParam","pos/DowntimeJailDuration":"#/components/schemas/IntParam","pos/MaxEvidenceAge":"#/components/schemas/IntParam","pos/MaxJailedBlocks":"#/components/schemas/IntParam","pos/MaxValidators":"#/components/schemas/IntParam","pos/MaximumChains":"#/components/schemas/IntParam","pos/ProposerPercentage":"#/components/schemas/IntParam","pos/RelaysToTokensMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeFloorMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeWeightCeiling":"#/components/schemas/IntParam","pos/SignedBlocksWindow":"#/components/schemas/IntParam","pos/StakeMinimum":"#/components/schemas/IntParam","pos/UnstakingTime":"#/components/schemas/IntParam","gov/daoOwner":"#/components/schemas/StrParam","pos/StakeDenom":"#/components/schemas/StrParam","pos/MinSignedPerWindow":"#/components/schemas/FloatParam","pos/ServicerStakeFloorMultiplierExponent":"#/components/schemas/FloatParam","pos/ServicerStakeWeightMultiplier":"#/components/schemas/FloatParam","pos/SlashFractionDoubleSign":"#/components/schemas/FloatParam","pos/SlashFractionDowntime":"#/components/schemas/FloatParam","application/ParticipationRateOn":"#/components/schemas/BoolParam","pocketcore/SupportedBlockchains":"#/components/schemas/SupportedBlockchainsParam","auth/FeeMultipliers":"#/components/schemas/FeeMultiplierParam","gov/acl":"#/components/schemas/ACLParam","gov/upgrade":"#/components/schemas/UpgradeParam"}}}},"gov_params":{"title":"Gov Params","type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/IntParam"},{"$ref":"#/components/schemas/StrParam"},{"$ref":"#/components/schemas/FloatParam"},{"$ref":"#/components/schemas/BoolParam"},{"$ref":"#/components/schemas/SupportedBlockchainsParam"},{"$ref":"#/components/schemas/FeeMultiplierParam"},{"$ref":"#/components/schemas/ACLParam"},{"$ref":"#/components/schemas/UpgradeParam"}],"discriminator":{"propertyName":"param_key","mapping":{"application/AppUnstakingTime":"#/components/schemas/IntParam","application/ApplicationStakeMinimum":"#/components/schemas/IntParam","application/BaseRelaysPerPOKT":"#/components/schemas/IntParam","application/MaxApplications":"#/components/schemas/IntParam","application/MaximumChains":"#/components/schemas/IntParam","application/StabilityAdjustment":"#/components/schemas/IntParam","auth/MaxMemoCharacters":"#/components/schemas/IntParam","auth/TxSigLimit":"#/components/schemas/IntParam","pocketcore/ClaimExpiration":"#/components/schemas/IntParam","pocketcore/ClaimSubmissionWindow":"#/components/schemas/IntParam","pocketcore/MinimumNumberOfProofs":"#/components/schemas/IntParam","pocketcore/ReplayAttackBurnMultiplier":"#/components/schemas/IntParam","pocketcore/SessionNodeCount":"#/components/schemas/IntParam","pos/BlocksPerSession":"#/components/schemas/IntParam","pos/DAOAllocation":"#/components/schemas/IntParam","pos/DowntimeJailDuration":"#/components/schemas/IntParam","pos/MaxEvidenceAge":"#/components/schemas/IntParam","pos/MaxJailedBlocks":"#/components/schemas/IntParam","pos/MaxValidators":"#/components/schemas/IntParam","pos/MaximumChains":"#/components/schemas/IntParam","pos/ProposerPercentage":"#/components/schemas/IntParam","pos/RelaysToTokensMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeFloorMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeWeightCeiling":"#/components/schemas/IntParam","pos/SignedBlocksWindow":"#/components/schemas/IntParam","pos/StakeMinimum":"#/components/schemas/IntParam","pos/UnstakingTime":"#/components/schemas/IntParam","gov/daoOwner":"#/components/schemas/StrParam","pos/StakeDenom":"#/components/schemas/StrParam","pos/MinSignedPerWindow":"#/components/schemas/FloatParam","pos/ServicerStakeFloorMultiplierExponent":"#/components/schemas/FloatParam","pos/ServicerStakeWeightMultiplier":"#/components/schemas/FloatParam","pos/SlashFractionDoubleSign":"#/components/schemas/FloatParam","pos/SlashFractionDowntime":"#/components/schemas/FloatParam","application/ParticipationRateOn":"#/components/schemas/BoolParam","pocketcore/SupportedBlockchains":"#/components/schemas/SupportedBlockchainsParam","auth/FeeMultipliers":"#/components/schemas/FeeMultiplierParam","gov/acl":"#/components/schemas/ACLParam","gov/upgrade":"#/components/schemas/UpgradeParam"}}}},"auth_params":{"title":"Auth Params","type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/IntParam"},{"$ref":"#/components/schemas/StrParam"},{"$ref":"#/components/schemas/FloatParam"},{"$ref":"#/components/schemas/BoolParam"},{"$ref":"#/components/schemas/SupportedBlockchainsParam"},{"$ref":"#/components/schemas/FeeMultiplierParam"},{"$ref":"#/components/schemas/ACLParam"},{"$ref":"#/components/schemas/UpgradeParam"}],"discriminator":{"propertyName":"param_key","mapping":{"application/AppUnstakingTime":"#/components/schemas/IntParam","application/ApplicationStakeMinimum":"#/components/schemas/IntParam","application/BaseRelaysPerPOKT":"#/components/schemas/IntParam","application/MaxApplications":"#/components/schemas/IntParam","application/MaximumChains":"#/components/schemas/IntParam","application/StabilityAdjustment":"#/components/schemas/IntParam","auth/MaxMemoCharacters":"#/components/schemas/IntParam","auth/TxSigLimit":"#/components/schemas/IntParam","pocketcore/ClaimExpiration":"#/components/schemas/IntParam","pocketcore/ClaimSubmissionWindow":"#/components/schemas/IntParam","pocketcore/MinimumNumberOfProofs":"#/components/schemas/IntParam","pocketcore/ReplayAttackBurnMultiplier":"#/components/schemas/IntParam","pocketcore/SessionNodeCount":"#/components/schemas/IntParam","pos/BlocksPerSession":"#/components/schemas/IntParam","pos/DAOAllocation":"#/components/schemas/IntParam","pos/DowntimeJailDuration":"#/components/schemas/IntParam","pos/MaxEvidenceAge":"#/components/schemas/IntParam","pos/MaxJailedBlocks":"#/components/schemas/IntParam","pos/MaxValidators":"#/components/schemas/IntParam","pos/MaximumChains":"#/components/schemas/IntParam","pos/ProposerPercentage":"#/components/schemas/IntParam","pos/RelaysToTokensMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeFloorMultiplier":"#/components/schemas/IntParam","pos/ServicerStakeWeightCeiling":"#/components/schemas/IntParam","pos/SignedBlocksWindow":"#/components/schemas/IntParam","pos/StakeMinimum":"#/components/schemas/IntParam","pos/UnstakingTime":"#/components/schemas/IntParam","gov/daoOwner":"#/components/schemas/StrParam","pos/StakeDenom":"#/components/schemas/StrParam","pos/MinSignedPerWindow":"#/components/schemas/FloatParam","pos/ServicerStakeFloorMultiplierExponent":"#/components/schemas/FloatParam","pos/ServicerStakeWeightMultiplier":"#/components/schemas/FloatParam","pos/SlashFractionDoubleSign":"#/components/schemas/FloatParam","pos/SlashFractionDowntime":"#/components/schemas/FloatParam","application/ParticipationRateOn":"#/components/schemas/BoolParam","pocketcore/SupportedBlockchains":"#/components/schemas/SupportedBlockchainsParam","auth/FeeMultipliers":"#/components/schemas/FeeMultiplierParam","gov/acl":"#/components/schemas/ACLParam","gov/upgrade":"#/components/schemas/UpgradeParam"}}}}}},"AppState":{"title":"AppState","required":["application","auth","gov","pocketcore","pos"],"type":"object","properties":{"application":{"$ref":"#/components/schemas/ApplicationState"},"auth":{"$ref":"#/components/schemas/AuthState"},"gov":{"$ref":"#/components/schemas/GovState"},"pocketcore":{"$ref":"#/components/schemas/PocketCoreState"},"pos":{"$ref":"#/components/schemas/PosState"}}},"Application":{"title":"Application","type":"object","properties":{"address":{"title":"Address","type":"string","description":"The hex address of the application"},"public_key":{"title":"Public Key","type":"string","description":"The hex public key of the application"},"jailed":{"title":"Jailed","type":"boolean","description":"Has the application been jailed from staked status","default":false},"status":{"title":"Status","type":"integer","description":"Application status"},"chains":{"title":"Chains","type":"array","items":{"type":"string"},"description":"Blockchains supported"},"staked_tokens":{"title":"Staked Tokens","type":"string","description":"How many tokens has this node staked in uPOKT"},"max_relays":{"title":"Max Relays","type":"integer","description":"Maximum number of relays supported"},"unstaking_time":{"title":"Unstaking Time","type":"string","description":"If unstaking, the minimum time for the validator to complete unstaking"}}},"ApplicationOpts":{"title":"ApplicationOpts","type":"object","properties":{"page":{"title":"Page","type":"integer"},"per_page":{"title":"Per Page","maximum":10000.0,"exclusiveMinimum":0.0,"type":"integer","description":"Number of applications per page","default":100},"staking_status":{"$ref":"#/components/schemas/StakingStatus"},"blockchain":{"title":"Blockchain","type":"string"}}},"ApplicationParams":{"title":"ApplicationParams","type":"object","properties":{"unstaking_time":{"title":"Unstaking Time","type":"string","description":"duration of unstaking"},"max_applications":{"title":"Max Applications","type":"integer","description":"maximum number of applications"},"app_stake_minimum":{"title":"App Stake Minimum","type":"integer","description":"minimum amount needed to stake as an application"},"base_relays_per_pokt":{"title":"Base Relays Per Pokt","type":"integer","description":"base relays per POKT coin staked"},"stability_adjustment":{"title":"Stability Adjustment","type":"integer","description":"the stability adjustment from the governance"},"participation_rate_on":{"title":"Participation Rate On","type":"boolean","description":"the participation rate affects the amount minted based on staked ratio"}}},"ApplicationState":{"title":"ApplicationState","required":["applications","exported","params"],"type":"object","properties":{"applications":{"title":"Applications","type":"array","items":{"$ref":"#/components/schemas/Application"}},"exported":{"title":"Exported","type":"boolean"},"params":{"$ref":"#/components/schemas/ApplicationParams"}}},"AuthParams":{"title":"AuthParams","required":["fee_multipliers","max_memo_characters","tx_sig_limit"],"type":"object","properties":{"fee_multipliers":{"$ref":"#/components/schemas/FeeMultiplier"},"max_memo_characters":{"title":"Max Memo Characters","type":"string"},"tx_sig_limit":{"title":"Tx Sig Limit","type":"string"}}},"AuthState":{"title":"AuthState","required":["accounts","params","supply"],"type":"object","properties":{"accounts":{"title":"Accounts","type":"array","items":{"$ref":"#/components/schemas/Account"}},"params":{"$ref":"#/components/schemas/AuthParams"},"supply":{"title":"Supply","type":"array","items":{"$ref":"#/components/schemas/SupplyItem"}}}},"BaseAccount":{"title":"BaseAccount","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["posmint/Account"],"type":"string"},"value":{"$ref":"#/components/schemas/BaseAccountVal"}}},"BaseAccountVal":{"title":"BaseAccountVal","required":["address","coins"],"type":"object","properties":{"address":{"title":"Address","type":"string"},"coins":{"title":"Coins","type":"array","items":{"$ref":"#/components/schemas/Coin"}}}},"Block":{"title":"Block","type":"object","properties":{"header":{"$ref":"#/components/schemas/BlockHeader"},"data":{"title":"Data","allOf":[{"$ref":"#/components/schemas/BlockData"}],"description":"Data hash of the block"},"evidence":{"title":"Evidence","allOf":[{"$ref":"#/components/schemas/BlockEvidence"}],"description":"Evidence hash"},"lastCommit":{"$ref":"#/components/schemas/Commit"}}},"BlockData":{"title":"BlockData","type":"object","properties":{"txs":{"title":"Txs","type":"array","items":{"type":"string"}}}},"BlockEvidence":{"title":"BlockEvidence","type":"object","properties":{"evidence":{"title":"Evidence","type":"string"}}},"BlockHeader":{"title":"BlockHeader","type":"object","properties":{"version":{"$ref":"#/components/schemas/Consensus"},"chain_id":{"title":"Chain Id","type":"string"},"height":{"title":"Height","type":"integer"},"time":{"title":"Time","type":"string"},"num_txs":{"title":"Num Txs","type":"integer"},"total_txs":{"title":"Total Txs","type":"integer"},"last_block_id":{"$ref":"#/components/schemas/BlockID"},"last_commit_hash":{"title":"Last Commit Hash","type":"string"},"data_hash":{"title":"Data Hash","type":"string"},"validators_hash":{"title":"Validators Hash","type":"string"},"next_validators_hash":{"title":"Next Validators Hash","type":"string"},"consensus_hash":{"title":"Consensus Hash","type":"string"},"app_hash":{"title":"App Hash","type":"string"},"last_results_hash":{"title":"Last Results Hash","type":"string"},"evidence_hash":{"title":"Evidence Hash","type":"string"},"proposer_address":{"title":"Proposer Address","type":"string"}}},"BlockID":{"title":"BlockID","type":"object","properties":{"hash":{"title":"Hash","type":"string"},"parts":{"$ref":"#/components/schemas/PartSetHeader"}}},"BlockMeta":{"title":"BlockMeta","type":"object","properties":{"block_id":{"$ref":"#/components/schemas/BlockID"},"blockHeader":{"$ref":"#/components/schemas/BlockHeader"}}},"BoolParam":{"title":"BoolParam","required":["param_key","param_value"],"type":"object","properties":{"param_key":{"title":"Param Key","enum":["application/ParticipationRateOn"],"type":"string"},"param_value":{"title":"Param Value","type":"boolean"}}},"ChallengeProofInvalidData":{"title":"ChallengeProofInvalidData","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["pocketcore/challenge_proof"],"type":"string"},"value":{"$ref":"#/components/schemas/ChallengeProofInvalidDataVal"}}},"ChallengeProofInvalidDataVal":{"title":"ChallengeProofInvalidDataVal","type":"object","properties":{"majority_responses":{"title":"Majority Responses","type":"array","items":{"$ref":"#/components/schemas/RelayResponse"}},"minority_response":{"$ref":"#/components/schemas/RelayResponse"},"reporters_address":{"title":"Reporters Address","type":"string"}}},"Claim":{"title":"Claim","required":["evidence_type","expiration_height","from_address"],"type":"object","properties":{"evidence_type":{"title":"Evidence Type","type":"string"},"expiration_height":{"title":"Expiration Height","type":"integer"},"from_address":{"title":"From Address","type":"string"}}},"Coin":{"title":"Coin","type":"object","properties":{"amount":{"title":"Amount","type":"string"},"denom":{"title":"Denom","enum":["pokt","upokt"],"type":"string","default":"upokt"}}},"Commit":{"title":"Commit","type":"object","properties":{"block_id":{"$ref":"#/components/schemas/BlockID"},"commit_signature":{"$ref":"#/components/schemas/CommitSignature"}}},"CommitSignature":{"title":"CommitSignature","type":"object","properties":{"type":{"title":"Type","type":"string"},"height":{"title":"Height","type":"integer"},"round":{"title":"Round","type":"integer"},"block_id":{"$ref":"#/components/schemas/BlockID"},"timestamp":{"title":"Timestamp","type":"string"},"validator_address":{"title":"Validator Address","type":"string"},"validator_index":{"title":"Validator Index","type":"integer"},"signature":{"title":"Signature","type":"string"}}},"Consensus":{"title":"Consensus","type":"object","properties":{"block":{"title":"Block","type":"integer"},"app":{"title":"App","type":"integer"}}},"ConsensusBlockParams":{"title":"ConsensusBlockParams","required":["max_bytes","max_gas","time_iota_ms"],"type":"object","properties":{"max_bytes":{"title":"Max Bytes","type":"string"},"max_gas":{"title":"Max Gas","type":"string"},"time_iota_ms":{"title":"Time Iota Ms","type":"string"}}},"ConsensusEvidenceParams":{"title":"ConsensusEvidenceParams","required":["max_age"],"type":"object","properties":{"max_age":{"title":"Max Age","type":"string"}}},"ConsensusParams":{"title":"ConsensusParams","required":["block","evidence","validator"],"type":"object","properties":{"block":{"$ref":"#/components/schemas/ConsensusBlockParams"},"evidence":{"$ref":"#/components/schemas/ConsensusEvidenceParams"},"validator":{"$ref":"#/components/schemas/ConsensusValidatorParams"}}},"ConsensusValidatorParams":{"title":"ConsensusValidatorParams","required":["pub_key_types"],"type":"object","properties":{"pub_key_types":{"title":"Pub Key Types","type":"array","items":{"type":"string"}}}},"FeeMultiplier":{"title":"FeeMultiplier","required":["default"],"type":"object","properties":{"fee_multiplier":{"title":"Fee Multiplier","type":"integer"},"default":{"title":"Default","type":"integer"}}},"FeeMultiplierParam":{"title":"FeeMultiplierParam","required":["param_key","param_value"],"type":"object","properties":{"param_key":{"title":"Param Key","enum":["auth/FeeMultipliers"],"type":"string"},"param_value":{"$ref":"#/components/schemas/FeeMultiplier"}}},"FloatParam":{"title":"FloatParam","required":["param_key","param_value"],"type":"object","properties":{"param_key":{"title":"Param Key","enum":["pos/MinSignedPerWindow","pos/ServicerStakeFloorMultiplierExponent","pos/ServicerStakeWeightMultiplier","pos/SlashFractionDoubleSign","pos/SlashFractionDowntime"],"type":"string"},"param_value":{"title":"Param Value","type":"number"}}},"GovParams":{"title":"GovParams","required":["acl","dao_owner","upgrade"],"type":"object","properties":{"acl":{"title":"Acl","type":"array","items":{"$ref":"#/components/schemas/ACLKey"}},"dao_owner":{"title":"Dao Owner","type":"string"},"upgrade":{"$ref":"#/components/schemas/Upgrade"}}},"GovState":{"title":"GovState","required":["DAO_Tokens","params"],"type":"object","properties":{"DAO_Tokens":{"title":"Dao Tokens","type":"string"},"params":{"$ref":"#/components/schemas/GovParams"}}},"HTTPValidationError":{"title":"HTTPValidationError","type":"object","properties":{"detail":{"title":"Detail","type":"array","items":{"$ref":"#/components/schemas/ValidationError"}}}},"HashRange":{"title":"HashRange","type":"object","properties":{"merkleHash":{"title":"Merklehash","type":"string"},"range":{"$ref":"#/components/schemas/Range"}}},"IntParam":{"title":"IntParam","required":["param_key","param_value"],"type":"object","properties":{"param_key":{"title":"Param Key","enum":["application/AppUnstakingTime","application/ApplicationStakeMinimum","application/BaseRelaysPerPOKT","application/MaxApplications","application/MaximumChains","application/StabilityAdjustment","auth/MaxMemoCharacters","auth/TxSigLimit","pocketcore/ClaimExpiration","pocketcore/ClaimSubmissionWindow","pocketcore/MinimumNumberOfProofs","pocketcore/ReplayAttackBurnMultiplier","pocketcore/SessionNodeCount","pos/BlocksPerSession","pos/DAOAllocation","pos/DowntimeJailDuration","pos/MaxEvidenceAge","pos/MaxJailedBlocks","pos/MaxValidators","pos/MaximumChains","pos/ProposerPercentage","pos/RelaysToTokensMultiplier","pos/ServicerStakeFloorMultiplier","pos/ServicerStakeWeightCeiling","pos/SignedBlocksWindow","pos/StakeMinimum","pos/UnstakingTime"],"type":"string"},"param_value":{"title":"Param Value","type":"integer"}}},"JailedStatus":{"title":"JailedStatus","enum":[1,2],"type":"integer","description":"An enumeration."},"MerkleProof":{"title":"MerkleProof","type":"object","properties":{"index":{"title":"Index","type":"integer"},"hash_ranges":{"title":"Hash Ranges","type":"array","items":{"$ref":"#/components/schemas/HashRange"}},"target_range":{"$ref":"#/components/schemas/HashRange"}}},"ModuleAccount":{"title":"ModuleAccount","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["posmint/ModuleAccount"],"type":"string"},"value":{"$ref":"#/components/schemas/ModuleAccountVal"}}},"ModuleAccountVal":{"title":"ModuleAccountVal","type":"object","properties":{"BaseAccount":{"$ref":"#/components/schemas/BaseAccountVal"},"name":{"title":"Name","type":"string"},"permissions":{"title":"Permissions","type":"array","items":{"type":"string"}},"public_key":{"title":"Public Key","anyOf":[{"type":"string"},{"$ref":"#/components/schemas/PubKey"}]}}},"MsgAppStake":{"title":"MsgAppStake","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["apps/MsgAppStake"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgAppStakeVal"}}},"MsgAppStakeVal":{"title":"MsgAppStakeVal","type":"object","properties":{"pubkey":{"$ref":"#/components/schemas/PublicKey"},"chains":{"title":"Chains","type":"array","items":{"type":"string"}},"value":{"title":"Value","type":"integer"}}},"MsgAppUnjail":{"title":"MsgAppUnjail","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["apps/MsgAppUnjail"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgAppUnjailVal"}}},"MsgAppUnjailVal":{"title":"MsgAppUnjailVal","type":"object","properties":{"address":{"title":"Address","type":"string"}}},"MsgBeginAppUnstake":{"title":"MsgBeginAppUnstake","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["apps/MsgAppBeginUnstake"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgBeginAppUnstakeVal"}}},"MsgBeginAppUnstakeVal":{"title":"MsgBeginAppUnstakeVal","type":"object","properties":{"application_address":{"title":"Application Address","type":"string"}}},"MsgBeginValidatorUnstake":{"title":"MsgBeginValidatorUnstake","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["pos/8.0MsgBeginUnstake","pos/MsgBeginUnstake"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgBeginValidatorUnstakeVal"}}},"MsgBeginValidatorUnstakeVal":{"title":"MsgBeginValidatorUnstakeVal","type":"object","properties":{"validator_address":{"title":"Validator Address","type":"string"},"signer_address":{"title":"Signer Address","type":"string"}}},"MsgChangeParam":{"title":"MsgChangeParam","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["gov/msg_change_param"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgChangeParamVal"}}},"MsgChangeParamVal":{"title":"MsgChangeParamVal","type":"object","properties":{"address":{"title":"Address","type":"string"},"param_key":{"title":"Param Key","enum":["application/AppUnstakingTime","application/ApplicationStakeMinimum","application/BaseRelaysPerPOKT","application/MaxApplications","application/MaximumChains","application/ParticipationRateOn","application/StabilityAdjustment","auth/FeeMultipliers","auth/MaxMemoCharacters","auth/TxSigLimit","gov/acl","gov/daoOwner","gov/upgrade","pocketcore/ClaimExpiration","pocketcore/ClaimSubmissionWindow","pocketcore/MinimumNumberOfProofs","pocketcore/ReplayAttackBurnMultiplier","pocketcore/SessionNodeCount","pocketcore/SupportedBlockchains","pos/BlocksPerSession","pos/DAOAllocation","pos/DowntimeJailDuration","pos/MaxEvidenceAge","pos/MaxJailedBlocks","pos/MaxValidators","pos/MaximumChains","pos/MinSignedPerWindow","pos/ProposerPercentage","pos/RelaysToTokensMultiplier","pos/ServicerStakeFloorMultiplier","pos/ServicerStakeFloorMultiplierExponent","pos/ServicerStakeWeightCeiling","pos/ServicerStakeWeightMultiplier","pos/SignedBlocksWindow","pos/SlashFractionDoubleSign","pos/SlashFractionDowntime","pos/StakeDenom","pos/StakeMinimum","pos/UnstakingTime"],"type":"string"},"param_value":{"title":"Param Value","anyOf":[{"type":"integer"},{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"array","items":{"type":"string"}},{"$ref":"#/components/schemas/UpgradeParamObject"},{"$ref":"#/components/schemas/FeeMultiplier"},{"$ref":"#/components/schemas/ACLKeysObject"}]}}},"MsgClaim":{"title":"MsgClaim","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["pocketcore/claim"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgClaimVal"}}},"MsgClaimVal":{"title":"MsgClaimVal","required":["header"],"type":"object","properties":{"header":{"$ref":"#/components/schemas/SessionHeader"},"merkle_root":{"$ref":"#/components/schemas/HashRange"},"total_proofs":{"title":"Total Proofs","type":"integer"},"from_address":{"title":"From Address","type":"string"},"evidence_type":{"title":"Evidence Type","type":"integer"},"expiration_height":{"title":"Expiration Height","type":"integer"}}},"MsgDaoTransfer":{"title":"MsgDaoTransfer","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["gov/msg_dao_transfer"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgDaoTransferVal"}}},"MsgDaoTransferVal":{"title":"MsgDaoTransferVal","type":"object","properties":{"from_address":{"title":"From Address","type":"string"},"to_address":{"title":"To Address","type":"string"},"amount":{"title":"Amount","type":"integer"},"action":{"title":"Action","type":"string"}}},"MsgProof":{"title":"MsgProof","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["pocketcore/proof"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgProofVal"}}},"MsgProofVal":{"title":"MsgProofVal","type":"object","properties":{"merkle_proofs":{"$ref":"#/components/schemas/MerkleProof"},"leaf":{"title":"Leaf","oneOf":[{"$ref":"#/components/schemas/RelayProof"},{"$ref":"#/components/schemas/ChallengeProofInvalidData"}],"discriminator":{"propertyName":"type","mapping":{"pocketcore/relay_proof":"#/components/schemas/RelayProof","pocketcore/challenge_proof":"#/components/schemas/ChallengeProofInvalidData"}}},"evidence_type":{"title":"Evidence Type","type":"integer"}}},"MsgSend":{"title":"MsgSend","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["pos/Send"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgSendVal"}}},"MsgSendVal":{"title":"MsgSendVal","type":"object","properties":{"from_address":{"title":"From Address","type":"string","proto_type":12,"proto_name":"FromAddress"},"to_address":{"title":"To Address","type":"string","proto_type":12,"proto_name":"ToAddress"},"amount":{"title":"Amount","type":"integer","proto_type":9}}},"MsgUpgrade":{"title":"MsgUpgrade","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["gov/msg_upgrade"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgUpgradeVal"}}},"MsgUpgradeVal":{"title":"MsgUpgradeVal","type":"object","properties":{"address":{"title":"Address","type":"string"},"upgrade":{"$ref":"#/components/schemas/Upgrade"}}},"MsgValidatorStake":{"title":"MsgValidatorStake","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["pos/8.0MsgStake","pos/MsgStake"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgValidatorStakeVal"}}},"MsgValidatorStakeVal":{"title":"MsgValidatorStakeVal","type":"object","properties":{"public_key":{"$ref":"#/components/schemas/PublicKey"},"chains":{"title":"Chains","type":"array","items":{"type":"string"}},"value":{"title":"Value","type":"integer"},"service_url":{"title":"Service Url","type":"string"},"output_address":{"title":"Output Address","type":"string"}}},"MsgValidatorUnjail":{"title":"MsgValidatorUnjail","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["pos/MsgUnjail","pos/8.0MsgUnjail"],"type":"string"},"value":{"$ref":"#/components/schemas/MsgValidatorUnjailVal"}}},"MsgValidatorUnjailVal":{"title":"MsgValidatorUnjailVal","type":"object","properties":{"address":{"title":"Address","type":"string"},"signer_address":{"title":"Signer Address","type":"string"}}},"Node":{"title":"Node","type":"object","properties":{"address":{"title":"Address","type":"string","description":"The hex address of the validator"},"chains":{"title":"Chains","type":"array","items":{"type":"string"},"description":"Blockchains supported"},"jailed":{"title":"Jailed","type":"boolean","description":"Has the validator been jailed from staked status","default":false},"public_key":{"title":"Public Key","type":"string","description":"The validator public hex key"},"service_url":{"title":"Service Url","type":"string","description":"The validator service url"},"status":{"title":"Status","type":"integer","description":"Validator status"},"tokens":{"title":"Tokens","type":"string","description":"How many tokens has this node staked in uPOKT"},"unstaking_time":{"title":"Unstaking Time","type":"string","description":"If unstaking, the minimum time for the validator to complete unstaking"}}},"PartSetHeader":{"title":"PartSetHeader","type":"object","properties":{"total":{"title":"Total","type":"integer"},"hash":{"title":"Hash","type":"string"}}},"PocketCoreParams":{"title":"PocketCoreParams","required":["claim_expiration","minimum_number_of_proofs","proof_waiting_period","replay_attack_burn_multiplier","session_node_count","supported_blockchains"],"type":"object","properties":{"claim_expiration":{"title":"Claim Expiration","type":"string"},"minimum_number_of_proofs":{"title":"Minimum Number Of Proofs","type":"integer"},"proof_waiting_period":{"title":"Proof Waiting Period","type":"string"},"replay_attack_burn_multiplier":{"title":"Replay Attack Burn Multiplier","type":"string"},"session_node_count":{"title":"Session Node Count","type":"integer"},"supported_blockchains":{"title":"Supported Blockchains","type":"array","items":{"type":"string"}}}},"PocketCoreState":{"title":"PocketCoreState","required":["params"],"type":"object","properties":{"claims":{"title":"Claims","type":"array","items":{"$ref":"#/components/schemas/Claim"}},"params":{"$ref":"#/components/schemas/PocketCoreParams"}}},"PosParams":{"title":"PosParams","required":["dao_allocation","downtime_jail_duration","max_evidence_age","max_jailed_blocks","max_validators","min_signed_per_window","proposer_allocation","relays_to_tokens_multiplier","session_block_frequency","signed_blocks_window","slash_fraction_double_sign","slash_fraction_downtime","stake_denom","stake_minimum","unstaking_time"],"type":"object","properties":{"dao_allocation":{"title":"Dao Allocation","type":"string"},"downtime_jail_duration":{"title":"Downtime Jail Duration","type":"string"},"max_evidence_age":{"title":"Max Evidence Age","type":"string"},"max_jailed_blocks":{"title":"Max Jailed Blocks","type":"integer"},"max_validators":{"title":"Max Validators","type":"integer"},"min_signed_per_window":{"title":"Min Signed Per Window","type":"string"},"proposer_allocation":{"title":"Proposer Allocation","type":"string"},"relays_to_tokens_multiplier":{"title":"Relays To Tokens Multiplier","type":"string"},"session_block_frequency":{"title":"Session Block Frequency","type":"string"},"signed_blocks_window":{"title":"Signed Blocks Window","type":"string"},"slash_fraction_double_sign":{"title":"Slash Fraction Double Sign","type":"string"},"slash_fraction_downtime":{"title":"Slash Fraction Downtime","type":"string"},"stake_denom":{"title":"Stake Denom","type":"string"},"stake_minimum":{"title":"Stake Minimum","type":"integer"},"unstaking_time":{"title":"Unstaking Time","type":"integer"}}},"PosState":{"title":"PosState","required":["exported","missed_blocks","params","prevState_total_power","prevState_validator_powers","previous_proposer","signing_infos","validators"],"type":"object","properties":{"exported":{"title":"Exported","type":"boolean"},"missed_blocks":{"title":"Missed Blocks","type":"object"},"params":{"$ref":"#/components/schemas/PosParams"},"prevState_total_power":{"title":"Prevstate Total Power","type":"string"},"prevState_validator_powers":{"title":"Prevstate Validator Powers","type":"array","items":{"$ref":"#/components/schemas/ValidatorPowers"}},"previous_proposer":{"title":"Previous Proposer","type":"string"},"signing_infos":{"title":"Signing Infos","type":"object","additionalProperties":{"$ref":"#/components/schemas/SigningInfo"}},"validators":{"title":"Validators","type":"array","items":{"$ref":"#/components/schemas/Validator"}}}},"PubKey":{"title":"PubKey","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","type":"string"},"value":{"title":"Value","type":"string"}}},"PublicKey":{"title":"PublicKey","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","type":"string"},"value":{"title":"Value","type":"string"}}},"QueryAccountTXs":{"title":"QueryAccountTXs","required":["address"],"type":"object","properties":{"address":{"title":"Address","type":"string"},"page":{"title":"Page","type":"integer"},"per_page":{"title":"Per Page","maximum":10000.0,"exclusiveMinimum":0.0,"type":"integer","description":"Number of transactions per page. Max of 10000","default":100},"received":{"title":"Received","type":"boolean"},"prove":{"title":"Prove","type":"boolean"},"order":{"title":"Order","enum":["asc","desc"],"type":"string","description":"The sort order, either 'asc' or 'desc'","default":"desc"}}},"QueryAccountTXsResponse":{"title":"QueryAccountTXsResponse","type":"object","properties":{"txs":{"title":"Txs","type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"total_txs":{"title":"Total Txs","type":"string"},"page_total":{"title":"Page Total","type":"string"},"total_count":{"title":"Total Count","type":"string"}}},"QueryAccountsResponse":{"title":"QueryAccountsResponse","type":"object","properties":{"result":{"title":"Result","type":"array","items":{"$ref":"#/components/schemas/BaseAccountVal"}},"page":{"title":"Page","type":"integer","description":"current page"},"total_pages":{"title":"Total Pages","type":"integer","description":"maximum amount of pages"}}},"QueryAddressHeight":{"title":"QueryAddressHeight","required":["address"],"type":"object","properties":{"height":{"title":"Height","type":"integer"},"address":{"title":"Address","type":"string"}}},"QueryAppsResponse":{"title":"QueryAppsResponse","type":"object","properties":{"result":{"title":"Result","type":"array","items":{"$ref":"#/components/schemas/Application"}},"page":{"title":"Page","type":"integer","description":"current page"},"total_pages":{"title":"Total Pages","type":"integer","description":"maximum amount of pages"}}},"QueryBalanceResponse":{"title":"QueryBalanceResponse","type":"object","properties":{"balance":{"title":"Balance","type":"integer"}}},"QueryBlock":{"title":"QueryBlock","type":"object","properties":{"height":{"title":"Height","type":"integer"}}},"QueryBlockResponse":{"title":"QueryBlockResponse","type":"object","properties":{"block":{"$ref":"#/components/schemas/Block"},"block_meta":{"$ref":"#/components/schemas/BlockMeta"}}},"QueryBlockTXs":{"title":"QueryBlockTXs","required":["height"],"type":"object","properties":{"height":{"title":"Height","type":"integer"},"page":{"title":"Page","type":"integer"},"per_page":{"title":"Per Page","maximum":10000.0,"exclusiveMinimum":0.0,"type":"integer","description":"Number of transactions per page. Max of 10000","default":100},"prove":{"title":"Prove","type":"boolean"},"order":{"title":"Order","enum":["asc","desc"],"type":"string","description":"The sort order, either 'asc' or 'desc'","default":"desc"}}},"QueryBlockTXsResponse":{"title":"QueryBlockTXsResponse","type":"object","properties":{"txs":{"title":"Txs","type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"total_txs":{"title":"Total Txs","type":"string"},"page_total":{"title":"Page Total","type":"string"},"total_count":{"title":"Total Count","type":"integer"}}},"QueryHeight":{"title":"QueryHeight","type":"object","properties":{"height":{"title":"Height","type":"integer"}}},"QueryHeightAndApplicationsOpts":{"title":"QueryHeightAndApplicationsOpts","required":["opts","height"],"type":"object","properties":{"opts":{"$ref":"#/components/schemas/ApplicationOpts"},"height":{"title":"Height","type":"integer"}}},"QueryHeightAndKey":{"title":"QueryHeightAndKey","required":["key"],"type":"object","properties":{"height":{"title":"Height","type":"integer"},"key":{"title":"Key","enum":["application/AppUnstakingTime","application/ApplicationStakeMinimum","application/BaseRelaysPerPOKT","application/MaxApplications","application/MaximumChains","application/ParticipationRateOn","application/StabilityAdjustment","auth/FeeMultipliers","auth/MaxMemoCharacters","auth/TxSigLimit","gov/acl","gov/daoOwner","gov/upgrade","pocketcore/ClaimExpiration","pocketcore/ClaimSubmissionWindow","pocketcore/MinimumNumberOfProofs","pocketcore/ReplayAttackBurnMultiplier","pocketcore/SessionNodeCount","pocketcore/SupportedBlockchains","pos/BlocksPerSession","pos/DAOAllocation","pos/DowntimeJailDuration","pos/MaxEvidenceAge","pos/MaxJailedBlocks","pos/MaxValidators","pos/MaximumChains","pos/MinSignedPerWindow","pos/ProposerPercentage","pos/RelaysToTokensMultiplier","pos/ServicerStakeFloorMultiplier","pos/ServicerStakeFloorMultiplierExponent","pos/ServicerStakeWeightCeiling","pos/ServicerStakeWeightMultiplier","pos/SignedBlocksWindow","pos/SlashFractionDoubleSign","pos/SlashFractionDowntime","pos/StakeDenom","pos/StakeMinimum","pos/UnstakingTime"],"type":"string"}}},"QueryHeightAndValidatorsOpts":{"title":"QueryHeightAndValidatorsOpts","required":["opts","height"],"type":"object","properties":{"opts":{"$ref":"#/components/schemas/ValidatorOpts"},"height":{"title":"Height","type":"integer"}}},"QueryHeightResponse":{"title":"QueryHeightResponse","required":["height"],"type":"object","properties":{"height":{"title":"Height","type":"integer"}}},"QueryNodeClaimResponse":{"title":"QueryNodeClaimResponse","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","type":"string"},"value":{"$ref":"#/components/schemas/MsgClaimVal"}}},"QueryNodeClaimsResponse":{"title":"QueryNodeClaimsResponse","required":["page","total_pages"],"type":"object","properties":{"result":{"title":"Result","type":"array","items":{"$ref":"#/components/schemas/MsgClaimVal"}},"page":{"title":"Page","type":"integer"},"total_pages":{"title":"Total Pages","type":"integer"}}},"QueryNodeReceipt":{"title":"QueryNodeReceipt","required":["address","blockchain","app_pubkey","session_block_height","height","receipt_type"],"type":"object","properties":{"address":{"title":"Address","type":"string"},"blockchain":{"title":"Blockchain","type":"string"},"app_pubkey":{"title":"App Pubkey","type":"string"},"session_block_height":{"title":"Session Block Height","type":"integer"},"height":{"title":"Height","type":"integer"},"receipt_type":{"title":"Receipt Type","enum":["challenge","relay"],"type":"string"}}},"QueryNodesResponse":{"title":"QueryNodesResponse","type":"object","properties":{"result":{"title":"Result","type":"array","items":{"$ref":"#/components/schemas/Node"}},"page":{"title":"Page","type":"integer","description":"current page"},"total_pages":{"title":"Total Pages","type":"integer","description":"maximum amount of pages"}}},"QueryPaginatedHeightAndAddrParams":{"title":"QueryPaginatedHeightAndAddrParams","required":["height"],"type":"object","properties":{"height":{"title":"Height","type":"integer"},"address":{"title":"Address","type":"string"},"page":{"title":"Page","type":"integer"},"per_page":{"title":"Per Page","maximum":10000.0,"exclusiveMinimum":0.0,"type":"integer","description":"Number of transactions per page. Max of 10000","default":100}}},"QueryPaginatedHeightParams":{"title":"QueryPaginatedHeightParams","type":"object","properties":{"height":{"title":"Height","type":"integer"},"page":{"title":"Page","type":"integer"},"per_page":{"title":"Per Page","maximum":10000.0,"exclusiveMinimum":0.0,"type":"integer","description":"Number of transactions per page. Max of 10000","default":100}}},"QuerySigningInfoResponse":{"title":"QuerySigningInfoResponse","type":"object","properties":{"result":{"title":"Result","type":"array","items":{"$ref":"#/components/schemas/SigningInfo"}},"page":{"title":"Page","type":"integer","description":"current page"},"total_pages":{"title":"Total Pages","type":"integer","description":"maximum amount of pages"}}},"QuerySupplyResponse":{"title":"QuerySupplyResponse","type":"object","properties":{"node_staked":{"title":"Node Staked","type":"integer","description":"Amount staked by the node in uPOKT"},"app_staked":{"title":"App Staked","type":"integer","description":"Amount staked by the app in uPOKT"},"dao":{"title":"Dao","type":"integer","description":"DAO amount in uPOKT"},"total_staked":{"title":"Total Staked","type":"integer","description":"Total amount staked in uPOKT"},"total_unstaked":{"title":"Total Unstaked","type":"integer","description":"Total amount unstaked in uPOKT"},"total":{"title":"Total","type":"integer","description":"Total amount in uPOKT"}}},"QuerySupportedChainsResponse":{"title":"QuerySupportedChainsResponse","type":"object","properties":{"supported_chains":{"title":"Supported Chains","type":"array","items":{"type":"string"},"description":"Supported blockchains"}}},"QueryTX":{"title":"QueryTX","required":["hash"],"type":"object","properties":{"hash":{"title":"Hash","type":"string"},"prove":{"title":"Prove","type":"boolean"}}},"Range":{"title":"Range","type":"object","properties":{"lower":{"title":"Lower","type":"string"},"upper":{"title":"Upper","type":"string"}}},"RelayProof":{"title":"RelayProof","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","enum":["pocketcore/relay_proof"],"type":"string"},"value":{"$ref":"#/components/schemas/RelayProofVal"}}},"RelayProofVal":{"title":"RelayProofVal","type":"object","properties":{"request_hash":{"title":"Request Hash","type":"string","description":"request hash identifier"},"entropy":{"title":"Entropy","type":"integer","description":"Entropy value to add uniqueness"},"session_block_height":{"title":"Session Block Height","type":"integer","description":"Height of the session"},"servicer_pub_key":{"title":"Servicer Pub Key","type":"string","description":"Servicer public hex public key"},"blockchain":{"title":"Blockchain","type":"string","description":"Blockchain hex string"},"aat":{"$ref":"#/components/schemas/AAT"},"signature":{"title":"Signature","type":"string","description":"client's signature in hex"}}},"RelayResponse":{"title":"RelayResponse","type":"object","properties":{"signature":{"title":"Signature","type":"string"},"payload":{"title":"Payload","type":"string"},"proof":{"$ref":"#/components/schemas/RelayProofVal"}}},"SessionHeader":{"title":"SessionHeader","type":"object","properties":{"app_public_key":{"title":"App Public Key","type":"string","description":"Application hex public key associated with a client"},"chain":{"title":"Chain","type":"string","description":"Network Identified in hex"},"session_height":{"title":"Session Height","type":"integer","description":"Height of the session"}}},"Signature":{"title":"Signature","type":"object","properties":{"pub_key":{"title":"Pub Key","type":"string","proto_type":12,"proto_name":"publicKey"},"signature":{"title":"Signature","type":"string","proto_type":12,"proto_name":"Signature"}}},"SigningInfo":{"title":"SigningInfo","type":"object","properties":{"address":{"title":"Address","type":"string","description":"operator address of the signing info"},"index_offset":{"title":"Index Offset","type":"integer","description":"The counter for the signing info (reset to 0 after SignedBlocksWindow elapses)"},"jailed_blocks_counter":{"title":"Jailed Blocks Counter","type":"integer","description":"The number of blocks jailed (reset to 0 after unjail)"},"jailed_until":{"title":"Jailed Until","type":"string","description":"The time the node can be unjailed"},"missed_blocks_counter":{"title":"Missed Blocks Counter","type":"integer","description":"The number of blocks missed within SignedBlocksWindow (can be decremented after the fact if new signature information/evidence is found)"},"start_height":{"title":"Start Height","type":"integer","description":"The origin height of the node (when it first joined the network)"}}},"SimpleProof":{"title":"SimpleProof","type":"object","properties":{"total":{"title":"Total","type":"integer"},"index":{"title":"Index","type":"integer"},"leaf_hash":{"title":"Leaf Hash","type":"string"},"aunts":{"title":"Aunts","type":"array","items":{"type":"string"}}}},"StakingStatus":{"title":"StakingStatus","enum":[1,2],"type":"integer","description":"An enumeration."},"StateResponse":{"title":"StateResponse","required":["app_hash","app_state","chain_id","consensus_params","genesis_time"],"type":"object","properties":{"app_hash":{"title":"App Hash","type":"string"},"app_state":{"$ref":"#/components/schemas/AppState"},"chain_id":{"title":"Chain Id","type":"string"},"consensus_params":{"$ref":"#/components/schemas/ConsensusParams"},"genesis_time":{"title":"Genesis Time","type":"string"}}},"StdTx":{"title":"StdTx","type":"object","properties":{"entropy":{"title":"Entropy","type":"integer"},"fee":{"title":"Fee","type":"array","items":{"$ref":"#/components/schemas/Coin"}},"memo":{"title":"Memo","type":"string"},"msg":{"title":"Msg","oneOf":[{"$ref":"#/components/schemas/MsgAppStake"},{"$ref":"#/components/schemas/MsgAppUnjail"},{"$ref":"#/components/schemas/MsgBeginAppUnstake"},{"$ref":"#/components/schemas/MsgBeginValidatorUnstake"},{"$ref":"#/components/schemas/MsgChangeParam"},{"$ref":"#/components/schemas/MsgClaim"},{"$ref":"#/components/schemas/MsgDaoTransfer"},{"$ref":"#/components/schemas/MsgProof"},{"$ref":"#/components/schemas/MsgSend"},{"$ref":"#/components/schemas/MsgUpgrade"},{"$ref":"#/components/schemas/MsgValidatorStake"},{"$ref":"#/components/schemas/MsgValidatorUnjail"}],"discriminator":{"propertyName":"type","mapping":{"apps/MsgAppStake":"#/components/schemas/MsgAppStake","apps/MsgAppUnjail":"#/components/schemas/MsgAppUnjail","apps/MsgAppBeginUnstake":"#/components/schemas/MsgBeginAppUnstake","pos/8.0MsgBeginUnstake":"#/components/schemas/MsgBeginValidatorUnstake","pos/MsgBeginUnstake":"#/components/schemas/MsgBeginValidatorUnstake","gov/msg_change_param":"#/components/schemas/MsgChangeParam","pocketcore/claim":"#/components/schemas/MsgClaim","gov/msg_dao_transfer":"#/components/schemas/MsgDaoTransfer","pocketcore/proof":"#/components/schemas/MsgProof","pos/Send":"#/components/schemas/MsgSend","gov/msg_upgrade":"#/components/schemas/MsgUpgrade","pos/8.0MsgStake":"#/components/schemas/MsgValidatorStake","pos/MsgStake":"#/components/schemas/MsgValidatorStake","pos/MsgUnjail":"#/components/schemas/MsgValidatorUnjail","pos/8.0MsgUnjail":"#/components/schemas/MsgValidatorUnjail"}}},"signature":{"$ref":"#/components/schemas/Signature"}}},"StrParam":{"title":"StrParam","required":["param_key","param_value"],"type":"object","properties":{"param_key":{"title":"Param Key","enum":["gov/daoOwner","pos/StakeDenom"],"type":"string"},"param_value":{"title":"Param Value","type":"string"}}},"SupplyItem":{"title":"SupplyItem","required":["amount","denom"],"type":"object","properties":{"amount":{"title":"Amount","type":"string"},"denom":{"title":"Denom","type":"string"}}},"SupportedBlockchainsParam":{"title":"SupportedBlockchainsParam","required":["param_key","param_value"],"type":"object","properties":{"param_key":{"title":"Param Key","enum":["pocketcore/SupportedBlockchains"],"type":"string"},"param_value":{"title":"Param Value","type":"array","items":{"type":"string"}}}},"TXProof":{"title":"TXProof","type":"object","properties":{"root_hash":{"title":"Root Hash","type":"string"},"data":{"title":"Data","type":"string"},"proof":{"$ref":"#/components/schemas/SimpleProof"}}},"Transaction":{"title":"Transaction","type":"object","properties":{"hash":{"title":"Hash","type":"string","description":"Hash of the transaction"},"height":{"title":"Height","type":"integer","description":"Blockheight of the transaction"},"index":{"title":"Index","type":"integer"},"tx_result":{"$ref":"#/components/schemas/TxResult"},"tx":{"title":"Tx","type":"string","description":"Raw data of the transaction"},"proof":{"$ref":"#/components/schemas/TXProof"},"stdTx":{"$ref":"#/components/schemas/StdTx"}}},"TxResult":{"title":"TxResult","type":"object","properties":{"code":{"title":"Code","type":"integer"},"data":{"title":"Data","type":"string"},"log":{"title":"Log","type":"string"},"info":{"title":"Info","type":"string"},"events":{"title":"Events","type":"array","items":{"type":"string"}},"codespace":{"title":"Codespace","type":"string"},"signer":{"title":"Signer","type":"string"},"recipient":{"title":"Recipient","type":"string","description":"The receiver of the transaction, will be null if no receiver"},"message_type":{"title":"Message Type","type":"string","description":"The type of the transaction, can be \"app_stake\", \"app_begin_unstake\", \"stake_validator\", \"begin_unstake_validator\", \"unjail_validator\", \"send\", \"upgrade\", \"change_param\", \"dao_tranfer\", \"claim\", or \"proof\""}}},"Upgrade":{"title":"Upgrade","required":["Height","Version"],"type":"object","properties":{"Height":{"title":"Height","type":"integer"},"Version":{"title":"Version","type":"string"},"OldUpgradeHeight":{"title":"Oldupgradeheight","type":"integer","default":1},"Features":{"title":"Features","type":"array","items":{"type":"string"}}}},"UpgradeParam":{"title":"UpgradeParam","required":["param_key","param_value"],"type":"object","properties":{"param_key":{"title":"Param Key","enum":["gov/upgrade"],"type":"string"},"param_value":{"$ref":"#/components/schemas/UpgradeParamObject"}}},"UpgradeParamObject":{"title":"UpgradeParamObject","required":["type","value"],"type":"object","properties":{"type":{"title":"Type","type":"string"},"value":{"$ref":"#/components/schemas/Upgrade"}}},"ValidationError":{"title":"ValidationError","required":["loc","msg","type"],"type":"object","properties":{"loc":{"title":"Location","type":"array","items":{"anyOf":[{"type":"string"},{"type":"integer"}]}},"msg":{"title":"Message","type":"string"},"type":{"title":"Error Type","type":"string"}}},"Validator":{"title":"Validator","required":["address","chains","jailed","output_address","public_key","service_url","status","tokens","unstaking_time"],"type":"object","properties":{"address":{"title":"Address","type":"string"},"chains":{"title":"Chains","type":"array","items":{"type":"string"}},"jailed":{"title":"Jailed","type":"boolean"},"output_address":{"title":"Output Address","type":"string"},"public_key":{"title":"Public Key","type":"string"},"service_url":{"title":"Service Url","type":"string"},"status":{"title":"Status","type":"integer"},"tokens":{"title":"Tokens","type":"string"},"unstaking_time":{"title":"Unstaking Time","type":"string"}}},"ValidatorOpts":{"title":"ValidatorOpts","type":"object","properties":{"page":{"title":"Page","type":"integer"},"per_page":{"title":"Per Page","maximum":10000.0,"exclusiveMinimum":0.0,"type":"integer","description":"Number of applications per page","default":100},"staking_status":{"allOf":[{"$ref":"#/components/schemas/StakingStatus"}],"description":"1 for unstaking, 2 for staked"},"jailed_status":{"allOf":[{"$ref":"#/components/schemas/JailedStatus"}],"description":"1 for jailed; 2 for not jailed"},"blockchain":{"title":"Blockchain","type":"string"}}},"ValidatorPowers":{"title":"ValidatorPowers","required":["Address","Power"],"type":"object","properties":{"Address":{"title":"Address","type":"string"},"Power":{"title":"Power","type":"string"}}}}}}