.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #181c1f;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 3px 5px 3px 8px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

@media only screen and (max-width: 600px) {
  .tooltip .tooltiptext {
    width: 350px;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
